<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Prestamype</title>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="">
	<form action="/mensaje" method="post">
		<input type="hidden" name="u" value="<%= u %>">
    <input type="submit" value="Redactar Mensaje">
  </form>
	<h1>Bandeja</h1>
	<% for (var i = 0 ; i < mensajes.length ; i ++){ %>

		<div>
			<p>
				De: <%= mensajes[i].id_remiente %><br>
				<%= mensajes[i].mensaje %>
			<p>
		</div>


	<% } %>
	</div>
</body>
</html>
