<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= title %></title>
	<link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
	<div class="">

		<h1>Login</h1>
		<form action="/bandeja" method="post">
			user<br><input type="text" name="u" required><br>
			password<br><input type="password" name="pass" required><br>
			<input type="submit" value="Submit">
		</form> 
		<form action="/signup" method="get">
			<input type="submit" value="Create a new account" />
		</form>
	</div>
</body>
</html>
