<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Prestamype</title>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="">

		<h1>Mensajeria</h1>
		<form action="/envio" method="post">
			<input type='hidden' name='u' value="<%= u %>">
			<input type='text' name='remitente' value="<%= u %>">
			<br>
			<select name="user">
			<% for( var i = 0 ; i < usuarios.length ; i ++ ){ %>
				<option value="<%= usuarios[i].id_p %>"> <%= usuarios[i].name %> </option>
			<% } %>
			</select>
			<br>
			<textarea name="comentario"></textarea>
			<br>	
			<input type="submit" value="Submit">
		</form> 

	</div>
</body>
</html>
